.list-group-item {
  border-width: 0px;
}

.list-group-item-heading{
	font-weight:bold;
}

.list-group{
	box-shadow: none;
}

#mapobs .input-group-btn{
	display: block;
}

#popup button{
	text-shadow:none;
}

#popup-closer{
	border-bottom:none;
	color:#337ab7;
}
	
#downloads-body .btn{
	margin-left:10px;
}

#downloads-body .btn .glyphicon{
	margin-left:3px;
}

#disclaimer{
	/*margin-top:10px;
	margin-bottom:100px;*/
}

#links_list{
	margin-top:10px;
	margin-bottom:10px;
}